@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        box-sizing: border-box;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    *, *::after, *::before {
        box-sizing: inherit;
    }

    ::-webkit-scrollbar {
        background: #fff;
        width: 0.5rem;
    }

    ::-webkit-scrollbar-thumb {
        background: #e67e22;
        border-radius: 20px;
        transition: all 0.2s;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #d75c10;
    }

    #search-results::-webkit-scrollbar {
        background: rgb(241 245 249);
        border-bottom-right-radius: 12px;
    }
}